name: Dummy workflow

on: push

jobs:
  foo:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: agronholm/action-general-autotag@regexnofail
      id: create-tag
      with:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        source_file: version.txt
        extraction_regex: "(\\d+\\.\\d+\\.\\d+)"
    - name: First step
      if: steps.create-tag.output.tagname
      run: echo First step
    - name: Second step
      run: echo Second step

      